{{ define "main" }}
<main aria-role="main">
    {{/* Display _index.md if available */}}
    {{ if .Content }}
    {{ partial "single" . }}
    {{ end }}

    {{/* List all pages */}}
    {{ range .Paginator.Pages }}
        <h2><a href="{{ .RelPermalink }}">{{ .Title | markdownify }}</a></h2>
        {{ partial "post_meta.html" . }}
        {{ with .Params.description }}
        <div class="description">{{.}}</div>
        {{ end }}
    {{ end }}

    {{/* Display paginator */}}
    {{ template "_internal/pagination.html" . }}
</main>
{{ end }}
