{{ $dateFormat := default "Jan 2, 2006" (index .Site.Params "datefmt") }}

<div class="post-meta">
    <sup>
    {{/* Display the date if set */}}
    {{- if not .Date.IsZero -}}
    <time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format $dateFormat }}</time>
    {{- end }}

    {{ if not .Params.noreadingtime -}}
    <span class="reading-time">
    {{ .ReadingTime }} min read
    </span>
    {{- end }}

    {{/* Display taxonomies */}}
    {{ range $taxo, $taxonomy := .Site.Taxonomies }}
    {{- $elems := $.Param $taxo }}
    {{- if $elems }}
    {{- range $name := $elems }}
    {{- with $.Site.GetPage (lower (printf "/%s/%s" $taxo (urlize $name))) }}
    <a class="{{ $taxo }}" href="{{ .Permalink }}">{{ $name | lower }}</a>
    {{- end }}
    {{- end }}
    {{- end }}
    {{- end }}
    </sup>
</div>
